.courses {
    display: flex;
    margin-bottom: 15px;
}

.courses > *:first-child {
    margin-left: 0;
}

.courses > *:last-child {
    margin-right: 0;
}

.courses > * {
    margin-right: 5px;
    margin-left: 5px;
}

.course-item {
}
.course-item-title {
    font-weight: 700;
    font-size: 18px;
}
.course-item-value {
    font-size: 32px;
    font-weight: 300;
}

.course-item-value.top {
    color: rgb(255, 51, 51);
}

.course-item-value.bottom {
    color: rgb(19, 189, 61);
}


@media (max-width: 767px) {
    .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .h2, h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 445px) {
    
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .col {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        padding: 0 8px;
    }
}
